<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HXS3QYM3TK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HXS3QYM3TK');
</script>



<script>
function sendReadEvent(title, timeRead, author) {
    gtag('event', 'read_article', {
        "author": author,
        "title": title,
        "time_read": timeRead,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("read-article-1");

    if (readArticle1Button) {
        // Skickar event vid klick på artikel 1
        readArticle1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 2, "Linus R")
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("read-article-2").addEventListener("click", () => {
            sendReadEvent("Article 2", 10, "Anna S")
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("read-article-3").addEventListener("click", () => {
            sendReadEvent("Article 3", 7, "Maria S")
        });
    }

});
  
 console.log("2023-01-30 1430")

</script>
